/*
Name: Kyle Stranick
Course: ITN 264
Section: 201
Title: Assignment 10: Display Database Data
Due: 11/8/2024
*/


/* Global */
/* Navbar */
.navbar {
    background-color: #34495e; /* Dark blue-gray background */
    width: 100%;
    padding-left: 20px;
    padding-right: 70px;

}

.navbar .navbar-brand:hover {
    color: #2ecc71;
    /* Green on hover */

}

.navbar .nav-link {
    color: #f9f9f9;
    /* Light text color */
}

.navbar .nav-link:hover {
    color: #2ecc71;
    /* Green on hover */
}

/* Dropdown Menu */
.navbar .dropdown-menu {
    background-color: #34495e;
    /* Match the navbar background */
    border: none;
    /* Remove border */
}

/* Dropdown items */
.navbar .dropdown-menu .dropdown-item {
    color: #f9f9f9;
    /* Light text color for dropdown items */
}

/* Dropdown item hover effect */
.navbar .dropdown-menu .dropdown-item:hover {
    color: #2ecc71;
    /* Green on hover */
    background-color: #2c3e50;
    /* Darker shade for hover background */
}

.global-body {
    background-color: #10284191;
    min-height: 100vh;
    /* Ensure the body fills the viewport height     */
    display: flex;
    flex-direction: column;
}

